.galeria {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.imagen-galeria {
    width: 300px;
    height: 300;
}

.imagen-galeria:hover {
    opacity: 0.5;
    cursor: pointer;
}